<!DOCTYPE html>
<html>
<head>
    <title>My Angular App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet" data-require="bootstrap-css@3.3.6" data-semver="3.3.6" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" data-require="jquery@*" data-semver="2.2.0"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" data-require="bootstrap@3.3.6" data-semver="3.3.6"></script>
    <script data-require="angular.js@~1.4.3" data-semver="1.4.9" src="https://code.angularjs.org/1.4.9/angular.js"></script>
    <script data-require="angular-sanitize@*" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular-sanitize.js"></script>
    <link href="style.css" rel="stylesheet" />
    <script src="script.js"></script>
</head>
<body ng-app="root">
<!--
        
    <div class="col-md-12" ng-controller="AppController">
        <h1 class="alert alert-info">{{message}}</h1>
    </div>
    <div class="col-md-3" ng-controller="AppController">
        <br />
        <p>{{"This is my input Data: " + testModel}}</p>
        <br />
        <input class="form-control" type="text" ng-model="testModel" />
        <br />
        <button class="btn btn-default" ng-click="button1">{{buttonName}}</button>
    </div>
-->
    <div class="col-md-12" ng-controller="httpController">
        <div>
            <h3>
                <a ng-href="{{api.url}}">Github API</a>
            </h3>
            <button class="btn btn-default" ng-click="breakAPI()">Break API URL</button>
            <button class="btn btn-default" ng-click="fixAPI()">Fix API URL</button>
        </div>
        <br />
        <h3>Github User Search</h3>
        <span id="countdown">Time remaining to submit a search: {{countdown}}s</span>
        <br />
        <form name="searchUser" ng-submit="search(username)">
            <input class="form-control" style="width:30%" type="search" required placeholder="Github user to query" ng-model="username" />
            <br />
            <input type="submit" class="btn btn-default" value="Search">
        </form>
        <br />
        <div ng-include="'output.html'" ng-show="api"></div>
        <div ng-bind-html="errorHtml"></div>
        <p></p>
    </div>
</body>
</html>